<div id="new-book-comment-wrapper">
	<%= render "comments/add_comment", :comment => @book.comments.build %>
</div>
<div id="comments">
	<%#= render :partial => "comments/comment", :collection => @comments, :as => 'comment' %>
	<%= nested_comments @comments.arrange(:order => :created_at) %>
</div>