<div id="new-comment-wrapper">
	<%= render "comments/add_comment", :comment => @book.comments.build %>
</div>
<div id="comments">
	<%= render :partial => "comments/comment", :collection => @comments, :as => 'comment' %>
</div>